/*========================= global begin ============================*/
* {margin:0; padding:0;}
html {min-width:900px;} 
body {background:#E6E6E6; min-width:900px;font-family:"trebuchet MS", sans-serif; }
	#mainpart {width:900px; margin:0 auto;background:#FFF;}
		#pagehead {width:100%; height:121px; padding-left:3px; background:url(../images/pagehead.png) no-repeat;}
		#pagemenu {width:100%; height:78px; padding-left:10px; padding-top:1px; background:url(../images/pagemenu.png) no-repeat;}
			#page_location{color:#8B8B8B; font-family:"Arial";  font-size: 14px; font-weight:normal; position:relative; top:7px; }
		#content { padding-left:10px; width:890px; overflow:hidden; /*background:#d35*/}
			#infomation_space{min-width:584px; float:left; margin-top:0px;}
			#personal_space{position:relative; float:right; width:306px; /*background:#CF0;*/ /*min-height:691px;*/ vertical-align: middle;}
				#hide_tag {display:block; float:left; height:405px; width:26px; 
						  background:url(../images/sidebar.png) no-repeat;}
					#hide_button{display:block;height:205px;width:26px; margin-top:100px; /*background:#9F3;*/ outline:none; 
								background:url(../images/tri_right.png) no-repeat 6px 10px;}
					#show_button{display:block;height:205px;width:26px; margin-top:100px; /*background:#943;*/ outline:none;
								background:url(../images/tri_left.png) no-repeat 5px 10px;}
				#personal_content{/*background:#CF0;*/ width:100%; height:100%; position:relative; left:21px;}
					#personal_title{width:262px; height:32px;background:url(../images/personal-space.png) no-repeat; margin-left:8px;}
					
					#personal_content_box {display:block; width:274px; height:330px; background:url(../images/personal_board_center.png) repeat-y left top;
									     margin-left:8px; margin-top:12px; margin-bottom:10px; position:relative;}
						#personal_content_top{display:block; width:274px;height:100%; 
									     background:url(../images/personal_board_top.png) no-repeat 0px 0px; }
						#personal_content_bottom{display:block; width:274px;height:100%;
									     background:url(../images/personal_board_bottom.png) no-repeat bottom; }
							#personal_blank{display:block; width:274px; height:30px;}
							#personal_menu{ position:relative; top:-382px; left:16px;}
							#nonius{position:relative; /*top:-348px;*/top:-348px; left:11px;/*left:137px;*/ display:block; width:78px; height:42px; 
									     background:url(../images/nonius.png) no-repeat; }
								#nonius_border{display:block; width:60px; height:28px; /*background:#d57;*/ overflow:hidden;
											 position:relative; left:-14px; top:9px;}
									#nonius_text{position:relative; width:240px; height:29px; background:url(../images/menr.png) no-repeat}
									     
		#separator_bar{width:100%; height:4px; background:#C2E401}
		#pagefoot {width:100%; height:106px; padding-left:10px}

/*========================= global end ============================*/

/*========================= menu button begin ============================*/
#pagemenu td {
	width:108px;
}

.disable_menu_button {
	display:block;
	width:102px;
	height:39px;
	text-decoration:none;
	outline:none;
	background:url(../images/menuitem_hover.png) no-repeat left top;
}

.disable_menu_button .item_name {
	z-index:1;
	background:url(../images/arrow_hover.png) no-repeat 77px 3px;
}

.disable_menu_button .bottom_text {
	display:block;
	width:86px;
	position:relative;
	left:-1px;
	top:-19px;
	z-index:-1;
	margin-left:1px;
	margin-top:1px;
	text-align:center;
	font-size:20px;
	font-family:Arial;
	color:#9D9D9D;
	text-decoration:none;
}

.disable_menu_button .top_text {
	display:block;
	width:86px;
	position:relative;
	text-align:center;
	font-size:20px;
	font-family:Arial;
	text-decoration:none;
	left:-1px;
	top:-38px;
	z-index:-1;
	color:#FFFFFF;
}

.menu_button {
	display:block;
	width:102px;
	height:39px;
	text-decoration:none;
	outline:none;
}

.item_name {
	display:block;
	width:90px;
	height:24px;
	position:relative;
	top:10px;
	font-size:34px;
	white-space:nowrap;
	background:url(../images/arrow_link.png) no-repeat 78px 4px;
}

.bottom_text {
	display:none;
}

.top_text {
	display:block;
	width:86px;
	position:relative;
	top:-18px;
	text-align:center;
	font-size:20px;
	font-family:Arial;
	color:#999999;
}

.menu_button:hover {
	background:url(../images/menuitem_hover.png) no-repeat left top;
}

.menu_button:hover .item_name {
	z-index:1;
	background:url(../images/arrow_hover.png) no-repeat 77px 3px;
}

.menu_button:hover .bottom_text {
	display:block;
	width:86px;
	position:relative;
	left:-1px;
	top:-19px;
	z-index:-1;
	margin-left:1px;
	margin-top:1px;
	text-align:center;
	font-size:20px;
	font-family:Arial;
	color:#9D9D9D;
}

.menu_button:hover .top_text {
	left:-1px;
	top:-38px;
	z-index:-1;
	color:#FFFFFF;
}

.menu_button:hover .item_name:active {
	left:1px;
	top:11px;
}
/*========================= menu button end ============================*/

/*========================= search field begin ============================*/
.search_field {
	width:257px;
	height:34px;
	background:url(../images/search_text.png) no-repeat left top;
}

.search_text {
	background:none;
	border:0;
	margin-right:45px;
	margin-top:10px;
	width:145px;
	font-size:16px;
	color:#666;
}

.search_button {
	display:block;
	position:relative;
	top:-29px;
	width:40px;
	height:34px;
	background:url(../images/search_button_link.png) no-repeat right top;
}

.search_button:hover {
	background:url(../images/search_button_hover.png) no-repeat right top;
}

.search_button:active {
	background:url(../images/search_button_active.png) no-repeat right top;
}
/*========================= search field end ============================*/

/*========================= personal menu begin ============================*/
#personal_menu td {
	width:61px;
}
.personal_menu_item {
	display:block; 
	position:relative;
	top:0px;
	left:0px;
	width:60px; 
	height:28px;
	outline:none;
}

.personal_menu_item:hover {
	width:78px;
	height:46px;
	top:-10px;
	left:-7px;
	background:url(../images/menu_border.png) no-repeat right top;
}

/*========================= personal menu end ============================*/

/*========================= page foot begin ============================*/

.right_text {
	color:#B3B3B3;
	font-family:"_sans";
	font-size:14px;
	position:relative;
	top:32px;
	font-weight:normal;
}
/*========================= page foot end ============================*/

/* Global styles */

#store #notice {
	color: #333333;
	border: 2px solid #bed600;
	text-align: center;
	padding: 0.8em;
	margin-bottom: 2em;
	background-color: #f6f7ea;
	font: bold small sans-serif;
}

#store h1 {
	font:  150% sans-serif;
	color: #226;
	//
	border-bottom: 3px dotted #77d;
}
/* Styles for products/index */

#product_list table {
	border-collapse: collapse;
}

#product_list table tr td {
	padding: 5px;
	vertical-align: top;
}

#product_list .list_image {
	width:        60px;
	height:       70px;
}

#product_list .list_description {
	width:        60%;
}

#product_list .list_description dl {
	margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
	margin: 0;
}

#product_list .list_actions {
	font-size:    x-small;
	text-align:   right;
	padding-left: 1em;
}

#product_list .list_line_even {
	background:   #e0f8f8;
}

#product_list .list_line_odd {
	background:   #f8b0f8;
}

/* An entry in the store catalog */

#store  .entry {
	overflow: auto;
}

#store  .title {
	font-size: 120%;
	font-family: sans-serif;
}

#store .entry img {
	width: 80px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

#store .entry h3 {
	margin-top: 0;
	margin-bottom: 2px;
	color: #227;
}

#store .entry p {
	margin-top: 0.5em;
	margin-bottom: 0.8em;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   13px;
	line-height: 18px;
}

#store .entry .price_line {
	clear: both;
	margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
	position: relative;
}

#store .entry  .price {
	color: #44a;
	font-weight: bold;
	margin-right: 2em;
}

#store .entry form, #store .entry form div {
	display: inline;
}

/* Styles for the cart in the main page */

#store .cart_title {
	font: 120% bold;
}

#store .item_price, #store .total_line {
	text-align: right;
}

#store .total_line .total_cell {
	font-weight: bold;
	border-top: 1px solid #595;
}


/* Styles for main page */

#banner {
	background: #9c9;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	text-align: center;
}

#banner img {
	float: left;
}

#columns {
	background: #141;
}

#main {
	margin-right:10px;
	margin-top:8px;
}

#side {
	float: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 12em;
	background: #141;
}

#side a {
	color: #bfb;
	font-size: small;
}


/* Styles for the cart in the sidebar */
#cart {
	margin-left:4px;
}

#cart, #cart table {
	font-size: smaller;
	color: #888;
}

#cart table {
	//
	border-top: 1px dotted #595;
	border-bottom: 1px dotted #595;
	margin-top:10px;
	margin-bottom: 10px;
}

/* Styles for the form */
.depot_form fieldset {
	background: #f2f7df;
	border: 2px solid #bed600;
	margin-top: 2em;
}

.depot_form legend {
	color:#333333;
	border: 2px solid #bed600;
	background: #c9e300;
	font-family: sans-serif;
	font-size: 135%;
	padding: 0.2em 1em;
}

.depot_form label {
	width: 7em;
	float: left;
	text-align: right;
	padding-top: 0.2em;
	margin-right:0.1em;
	display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
	margin-left: 0.5em;
}

.depot_form .submit {
	margin-left: 7em;
}

.depot_form .link {
	margin-left: 1em;
}

.depot_form div {
	margin: 0.5em 0;
}

/*************************************/

.locale {
	float: right;
	padding-right:0.2em;
	padding-top: 0.4em;
}

.search {
	float: right;
	padding-top: 0.2em;
	padding-right: 0.5em;
}

#category {
	color:#FFF;
}

#category li{
	margin:0 0 0 20px;
}

#star_wrap {
height: 25px;
overflow: hidden;
zoom: 1;
padding: 2px 0;
position: relative;
z-index: 999;
font:12px Arial;
color:#000;
line-height:1.2em
}
#star_wrap span {
height: 23px;
display: block;
line-height: 23px;
float: left;
}
#star_wrap ul {
float: left;
}
#star_wrap #star_content {
margin-left: 20px;
padding-top: 2px;
}
#star_wrap #star_content span {
color: #ff6d02;
}
#star_list,
#star_list li {
background: url(../images/o_star.png) no-repeat scroll 1000px 1000px;
}
#star_list {
background-position: 0px 0px;
width: 120px;
height: 23px;
position: relative;
z-index: 1000;
}
#star_wrap #star_content em {
color: #f60;
font-family: arial;
font-weight: bold;
}
#star_list li {
line-height: 23px;
height: 23px;
position: absolute;
top: 0px;
left: 0px;
text-indent: -999em;
*zoom: 1;
outline: none;
cursor:pointer;
}
#star_list li.one-star {
width: 20%;
z-index: 6;
}
#star_list li.two-stars {
width: 40%;
z-index: 5;
}
#star_list li.three-stars {
width: 60%;
z-index: 4;
}
#star_list li.four-stars {
width: 80%;
z-index: 3;
}
#star_list li.five-stars {
width: 100%;
z-index: 2;
}
#star_list .current-rating{background-position:0 -28px}
#star_list li.one-star.current-rating,#star_list li.two-stars.current-rating{background-position:0 -116px;}
#star_list .three-stars .current-rating,#star_list .four-stars .current-rating,#star_list .five-stars .current-rating{background-position:0 -28px;}
#center {
	Z-INDEX: 2;position:relative;height:317px;
}
#slider {
	Z-INDEX: 1; BORDER-BOTTOM: #000 20px solid; POSITION: absolute; BORDER-LEFT: #000 20px solid; WIDTH: 860px; BACKGROUND: #000; HEIGHT: 250px; OVERFLOW: hidden; BORDER-TOP: #000 20px solid; BORDER-RIGHT: #000 20px solid; 
}
#slider .slide {
	Z-INDEX: 10; POSITION: absolute; BORDER-LEFT: #000 1px solid; WIDTH: 520px; BACKGROUND: #000; HEIGHT: 250px; OVERFLOW: hidden; CURSOR: default;
}
#slider .title {
	COLOR: #f80; FONT-SIZE: 1.2em; FONT-WEIGHT: bold; MARGIN-RIGHT: 1.5em; TEXT-DECORATION: none
}
#slider .text {
	POSITION: absolute; TEXT-ALIGN: justify; WIDTH: 470px; DISPLAY: none; FONT-FAMILY: verdana, arial, Helvetica, sans-serif; COLOR: #fff; FONT-SIZE: 0.9em; TOP: 100%; LEFT: 10px
}
#slider .diapo {
	POSITION: absolute; FILTER: alpha(opacity=100); VISIBILITY: visible; opacity: 1;width:520px;
}
#apDiv1 {
	Z-INDEX: 1; POSITION: absolute; BACKGROUND-COLOR: #000000; WIDTH: 860px; HEIGHT: 30px; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
#apDiv2 {
	Z-INDEX: 3; POSITION: absolute; WIDTH: 860px; HEIGHT: 35px; OVERFLOW: hidden;
}
