/*========================= global begin ============================*/
* {margin:0; padding:0;}
html {min-width:900px;} 
body {background:#E6E6E6; min-width:900px;font-family:"trebuchet MS", sans-serif; }
	#mainpart {width:900px; margin:0 auto;background:#FFF;}
		#pagehead {width:100%; height:121px; padding-left:3px; background:url(../images/pagehead.png) no-repeat;}
		#pagemenu {width:100%; height:78px; padding-left:10px; padding-top:1px; background:url(../images/pagemenu.png) no-repeat;}
			#page_location{color:#8B8B8B; font-family:"Arial";  font-size: 14px; font-weight:normal; position:relative; top:7px; }
		#content { padding-left:10px; width:100%; }
			#infomation_space{width:600px;}
			#personal_space{float:right; width:290px; background:#CF0; min-height:491px;}
				#separator_line {float:left; height:100%}
				#personal_content{/*background:#CF0;*/ width:100%; height:100%;}
					#personal_title{width:262px; height:32px;background:url(../images/personal-space.png) no-repeat; margin-left:8px;}
					
					#personal_content_box {display:block; width:274px; height:330px; background:url(../images/personal_board_center.png) repeat-y left top;
									     margin-left:8px; margin-top:12px; margin-bottom:10px; position:relative;}
						#personal_content_top{display:block; width:274px;height:100%; 
									     background:url(../images/personal_board_top.png) no-repeat 0px 0px; }
						#personal_content_bottom{display:block; width:274px;height:100%;
									     background:url(../images/personal_board_bottom.png) no-repeat bottom; }
							#personal_blank{display:block; width:274px; height:30px;}
							#personal_menu{ position:relative; top:-382px; left:16px;}
							#nonius{position:relative; /*top:-348px;*/top:-348px; left:11px;/*left:137px;*/ display:block; width:78px; height:42px; 
									     background:url(../images/nonius.png) no-repeat; }
									     
		#separator_bar{width:100%; height:4px; background:#C2E401}
		#pagefoot {width:100%; height:106px; padding-left:10px}

/*========================= global end ============================*/

/*========================= menu button begin ============================*/
#pagemenu td {
	width:108px;
}

.menu_button {
	display:block;
	width:102px;
	height:39px;
	text-decoration:none;
	outline:none;
}

.item_name {
	display:block;
	width:90px;
	height:24px;
	position:relative;
	top:10px;
	font-size:34px;
	white-space:nowrap;
	background:url(../images/arrow_link.png) no-repeat 78px 4px;
}

.bottom_text {
	display:none;
}

.top_text {
	display:block;
	width:86px;
	position:relative;
	top:-18px;
	text-align:center;
	font-size:20px;
	font-family:Arial;
	color:#999999;
}

.menu_button:hover {
	background:url(../images/menuitem_hover.png) no-repeat left top;
}

.menu_button:hover .item_name {
	z-index:1;
	background:url(../images/arrow_hover.png) no-repeat 77px 3px;
}

.menu_button:hover .bottom_text {
	display:block;
	width:86px;
	position:relative;
	left:-1px;
	top:-19px;
	z-index:-1;
	margin-left:1px;
	margin-top:1px;
	text-align:center;
	font-size:20px;
	font-family:Arial;
	color:#9D9D9D;
}

.menu_button:hover .top_text {
	left:-1px;
	top:-38px;
	z-index:-1;
	color:#FFFFFF;
}

.menu_button:active {
	padding-left:1px;
	padding-top:1px;
}

.menu_button:hover .item_name:active {
	left:1px;
	top:11px;
}
/*========================= menu button end ============================*/

/*========================= search field begin ============================*/
.search_field {
	width:257px;
	height:34px;
	background:url(../images/search_text.png) no-repeat left top;
}

.search_text {
	background:none;
	border:0;
	margin-right:45px;
	margin-top:10px;
	width:145px;
	font-size:16px;
	color:#666;
}

.search_button {
	display:block;
	position:relative;
	top:-29px;
	width:40px;
	height:34px;
	background:url(../images/search_button_link.png) no-repeat right top;
}

.search_button:hover {
	background:url(../images/search_button_hover.png) no-repeat right top;
}

.search_button:active {
	background:url(../images/search_button_active.png) no-repeat right top;
}
/*========================= search field end ============================*/

/*========================= personal menu begin ============================*/
#personal_menu td {
	width:61px;
}
.personal_menu_item {
	display:block; 
	position:relative;
	top:0px;
	left:0px;
	width:60px; 
	height:28px;
	outline:none;
}

.personal_menu_item:hover {
	width:78px;
	height:46px;
	top:-10px;
	left:-7px;
	background:url(../images/menu_border.png) no-repeat right top;
}

/*========================= personal menu end ============================*/

/*========================= page foot begin ============================*/

.right_text {
	color:#B3B3B3;
	font-family:"_sans";
	font-size:14px;
	position:relative;
	top:32px;
	font-weight:normal;
}
/*========================= page foot end ============================*/

/* Global styles */

#store #notice {
	color: #000;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#store h1 {
	font:  150% sans-serif;
	color: #226;
	//
	border-bottom: 3px dotted #77d;
}
/* Styles for products/index */

#product_list table {
	border-collapse: collapse;
}

#product_list table tr td {
	padding: 5px;
	vertical-align: top;
}

#product_list .list_image {
	width:        60px;
	height:       70px;
}

#product_list .list_description {
	width:        60%;
}

#product_list .list_description dl {
	margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
	margin: 0;
}

#product_list .list_actions {
	font-size:    x-small;
	text-align:   right;
	padding-left: 1em;
}

#product_list .list_line_even {
	background:   #e0f8f8;
}

#product_list .list_line_odd {
	background:   #f8b0f8;
}

/* An entry in the store catalog */

#store  .entry {
	overflow: auto;
}

#store  .title {
	font-size: 120%;
	font-family: sans-serif;
}

#store .entry img {
	width: 80px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

#store .entry h3 {
	margin-top: 0;
	margin-bottom: 2px;
	color: #227;
}

#store .entry p {
	margin-top: 0.5em;
	margin-bottom: 0.8em;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   13px;
	line-height: 18px;
}

#store .entry .price_line {
	clear: both;
	margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
	position: relative;
}

#store .entry  .price {
	color: #44a;
	font-weight: bold;
	margin-right: 2em;
}

#store .entry form, #store .entry form div {
	display: inline;
}

/* Styles for the cart in the main page */

#store .cart_title {
	font: 120% bold;
}

#store .item_price, #store .total_line {
	text-align: right;
}

#store .total_line .total_cell {
	font-weight: bold;
	border-top: 1px solid #595;
}


/* Styles for main page */

#banner {
	background: #9c9;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	text-align: center;
}

#banner img {
	float: left;
}

#columns {
	background: #141;
}

#main {
	height:491px;
	margin-right:10px;
	margin-top:8px;
}

#side {
	float: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 12em;
	background: #141;
}

#side a {
	color: #bfb;
	font-size: small;
}


/* Styles for the cart in the sidebar */
#cart {
	margin-left:4px;
}

#cart, #cart table {
	font-size: smaller;
	color: #888;
}

#cart table {
	//
	border-top: 1px dotted #595;
	border-bottom: 1px dotted #595;
	margin-top:10px;
	margin-bottom: 10px;
}

.depot_form fieldset {
	background: #efe;
}

.depot_form legend {
	color:#dfd;
	background: #141;
	font-family: sans-serif;
	padding: 0.2em 1em;
}

.depot_form label {
	width: 5em;
	float: left;
	text-align: right;
	padding-top: 0.2em;
	margin-right:0.1em;
	display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
	margin-left: 0.5em;
}

.depot_form .submit {
	margin-left: 0.4em;
}

.depot_form div {
	margin: 0.5em 0;
}

.locale {
	float: right;
	padding-right:0.2em;
	padding-top: 0.4em;
}

.search {
	float: right;
	padding-top: 0.2em;
	padding-right: 0.5em;
}

#category {
	color:#FFF;
}

#category li{
	margin:0 0 0 20px;
}
