<h1><%= t('.contact')%></h1>
<hr />
<br />


<b><%= t('.aboutus')%></b>
<br />
<%= image_tag("/images/logo2.png") %>
<br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	关乎舍记，有如此解释,舍是舍得、不在乎；记就是忘记；
	顾其名而思其义就是要舍得忘记。舍得忘记并非是忘记一
	切，而只是忘掉那些框框条条、忘掉那些冗余陈杂，把知
	识的精髓提炼出来。有人说过学一本书的最高境界即使越
	来越觉得书好薄。这大概就是舍得忘记的效果；忘掉那些
	冗余陈杂的东西，揉和提炼出整个体系思想；在我们脑海
	里存留的不是语法词法，而是整个灵动的结构体。就像一
	整栋房子那样清晰，而不是砖瓦沙砾。

</p>

<br />
<br />

<b><%= t('.contact')%></b>
<br />
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Email: PragmaticStore@gmail.com
</p>

